[submodule "aggregator/lib/forge-std"]
	path = aggregator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "aggregator/lib/aurora-contracts-sdk"]
	path = aggregator/lib/aurora-contracts-sdk
	url = https://github.com/aurora-is-near/aurora-contracts-sdk
[submodule "aggregator/lib/openzeppelin-contracts"]
	path = aggregator/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
